.Main__header {
  display: flex;
  height: 20vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  border-bottom: 2px solid purple;
}

.Main__headerText {
  padding: 0 4vw;
  line-height: 6vh;
  font-size: 4vh;
  font-weight: normal;
  text-transform: uppercase;
  color: purple;
  border-top: 2px dashed purple;
  border-bottom: 2px dashed purple;

}

.Main__logo {
  height: 70%;
  width: auto;
}

.Main__btnWrapper {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-evenly;
  align-items: center;
}

.Main .btn {
  width: 80vw;
  height: 18vh;
  line-height: 18vh;
  font-size: 3.5vh;
  border-radius: 3vw;
  cursor: pointer;
}