.AddExpense__inputWrapper {
  display: flex;
  flex-direction: row;
}

.AddExpense__input {
  width: 80vw;
  outline: none;
  font-size: 5vw;
  padding: 1vw 2vw;
}

.AddExpense__back,
.AddExpense__submit {
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  width: 10vw;
  height: 10vw;
  border-radius: 0;
}

.AddExpense__back {
  background-image: url('images/back.svg');
}

.AddExpense__submit {
  background-image: url('images/yes.svg');
}

.AddExpense__tipWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.AddExpense__tip {
  font-size: 5vw;
  margin: 1vw;
  padding: 1vw 2vw;
}
