body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
  color: #333;
  border: 1px solid purple;
}

* {
  box-sizing: border-box;
}

.btn {
  border: 2px solid purple;
  background-color: transparent;
  border-radius: 6px;
  color: purple;
  text-align: center;
  text-decoration: none;
}

.btn_primary {
  background-color: purple;
  color: white;
}

